---
import ApproveBlackIcon from "assets/AdvantagesIcons/ApproveBlack.svg"
import ApproveRedIcon from "assets/AdvantagesIcons/ApproveRed.svg"
---

<div class="w-full max-w-xl md:max-w-3xl bg-[#fff] p-8 pr-20 rounded-xl flex justify-center items-center">
    <img src={ApproveBlackIcon} alt="" class=" max-h-16 mr-12">
    <div class="flex flex-col justify-center items-center gap-8">
        <h4 class="font-detail font-extrabold text-4xl">Nasi trenerzy są zawsze gotowi pomóc i doradzić</h4>
        <p class="font-detail font-normal text-3xl">darmowa opieka trenerska na siłowni, trening wprowadzający dla początkujących</p>
    </div>
</div>