---
import AdvantagesCard from "components/Advantages/AdvantagesCard.astro"
---

<div class="bg-primaryRed w-full p-10 flex flex-col md:flex-row flex-wrap justify-center gap-10">
    <AdvantagesCard />
    <AdvantagesCard />
    <AdvantagesCard />
    <AdvantagesCard />
</div>