---
import PromoPhoto from "assets/PromoAssets/PromoPhoto.png"
---

<div class="w-full max-w-[1920px] relative flex justify-center h-full mx-auto">
    <img src={PromoPhoto} alt="" class="absolute top-0 left-0">
    <div class="absolute top-0">
        <!-- <h5 class="font-detail font-bold text-[#fff] text-7xl">Zobacz dlaczego nowi klubowicze czują się u nas tak dobrze</h5> -->
        <!-- <iframe width="1280" height="720" src="https://www.youtube.com/embed/5VhvnD5AG3M" title="Bella Line Wellness Centrum - zobacz jak u nas jest!" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
    </div>
</div>