---
import PromoPhoto from "assets/PromoAssets/PromoPhoto.png"
---

<div class="w-full relative flex justify-center h-full mx-auto p-12 md:p-28">
    <img src={PromoPhoto} alt="" class="absolute top-0 left-0 w-full h-full">
    <div class=" max-w-6xl">
        <h5 class="font-detail font-medium text-[#fff]  text-5xl md:text-7xl relative text-center pb-12">Zobacz dlaczego nowi klubowicze czują się u nas tak dobrze</h5>
        <div class="relative overflow-hidden w-full pt-[56.25%]">
            <iframe src="https://www.youtube.com/embed/5VhvnD5AG3M" title="Bella Line Wellness Centrum - zobacz jak u nas jest!" class="absolute top-0 left-0 bottom-0 right-0 w-full h-full" allowfullscreen></iframe>
        </div>

    </div>
</div>