---
import HeaderImage from "assets/Header/HeaderImage.png"
import HeaderStrips from "assets/Header/HeaderStrips.png"
import BellaIcon from "assets/CompanyIcons/BellaIcon.png"
---

<header class="w-100 h-screen bg-[#000]  md:bg-transparent relative max-h-[70rem] md:max-h-[70rem] overflow-hidden">
        <div class="bg-transparent md:absolute w-full justify-center items-center gap-32 flex py-16 z-[999]">
            <p class="text-7xl text-[#ffffff] font-detail font-bold hidden md:block">FITNESS</p>
            <img src={BellaIcon} alt="" class="max-w-[12rem] lg:max-w-[15rem]">
            <p class="text-7xl text-[#ffffff] font-detail font-bold hidden md:block">SPA</p>
        </div>
        <div class="flex justify-center md:absolute md:left-[10rem] md:top-[18rem] lg:top-[20rem]  xl:left-[28rem] xl:top-[26rem] mt-8 xl:mt-[unset]">
            <h1 class="text-[#ffffff] text-6xl 2xl:text-8xl z-50 relative font-secondary font-bold leading-[6rem] 2xl:leading-[9rem]">TWOJA PRZYGODA <br> ZACZYNA SIĘ <br> <span class="text-[#ffffff] font-bold italic 2xl:text-7xl inline-block mt-3 2xl:mt-5 bg-primaryRed px-4 py-3 2xl:px-12 2xl:py-10">W BELLA LINE.</span></h1>
        </div>
        <img src={HeaderImage} alt="" class="absolute w-full bottom-0 lg:top-0 left-0 scale-125 md:scale-5 lg:scale-[unset] ">
        <img src={HeaderStrips} alt="" class="z-10 absolute right-0 bottom-0 w-3/4 lg:w-[unset]">
        <p class="font-primary text-4xl text-textGrey absolute bottom-96 right-48 -rotate-45 tracking-[1rem] hidden lg:block">LEVEL UP YOUR LIFE</p>
    </header>