---
import { SEO } from "astro-seo";
---

<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <SEO
      title="Bella Line - Wielkie promocje cenowe"
      description="Fitness Siłownia SPA"
      openGraph={{
        basic: {
          title: "Bella Line - Wielkie promocje cenowe",
          type: "website",
          image: "https://promocja.bellaline.pl/PageImage.png",
        }
      }}
    />
    <meta name="viewport" content="width=device-width" />
  </head>
  <body >
		<main class="w-full mx-auto">
			<slot />
		</main>
  </body>
</html>


<style>
  html {
    font-size: 10px;
  }
</style>